---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: django-operator
rules:
- apiGroups:
  - ""
  resources:
  - pods/exec
  - pods
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - services
  - secrets
  verbs:
  - create
  - get
  - list
  - watch
  - delete
  - patch
  - update
- apiGroups:
  - "apps"
  resources:
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - create
  - get
  - list
  - watch
  - delete
  - patch
- apiGroups:
  - "autoscaling"
  resources:
  - horizontalpodautoscalers
  verbs:
  - create
  - get
  - list
  - watch
  - delete
  - patch
- apiGroups:
  - "networking.k8s.io"
  resources:
  - ingresses
  verbs:
  - create
  - get
  - list
  - watch
  - delete
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""               # core API group
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - "coordination.k8s.io"
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - django.djangooperator
  resources:
  - djangousers
  - djangomigrates
  - djangostatics
  - djangoceleries
  - djangoapps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - django.djangooperator
  resources:
  - djangousers/finalizers
  - djangomigrates/finalizers
  - djangostatics/finalizers
  - djangoceleries/finalizers
  - djangoapps/finalizers
  verbs:
  - update
- apiGroups:
  - django.djangooperator
  resources:
  - djangousers/status
  - djangomigrates/status
  - djangostatics/status
  - djangoceleries/status
  - djangoapps/status
  verbs:
  - get
  - patch
  - update
